<section class="grid">
  <div class="row row-1">
    <div class="square square-hover col-1"><span></span></div>
    <div class="square square-hover col-2"><span></span></div>
    <div class="square square-hover col-3"><span></span></div>
  </div>
  <div class="row row-2">
    <div class="square square-hover col-1"><span></span></div>
    <div class="square square-hover col-2"><span></span></div>
    <div class="square square-hover col-3"><span></span></div>
  </div>
  <div class="row row-3">
    <div class="square square-hover col-1"><span></span></div>
    <div class="square square-hover col-2"><span></span></div>
    <div class="square square-hover col-3"><span></span></div>
  </div>
</section>