* {
  box-sizing: border-box; 
}
html {
  cursor: default;
  font-family: 'Quicksand', sans-serif;
  color: #1f2593;
}
body {
  margin: auto;
  background-color: #f2f1f1;
  /*border: solid black;*/
}

.message {
  /*margin: 10px 0;*/
  text-align: center;
  font-size: 3vh;
  margin-top: 7vh;
  margin-bottom: 7vh;
}

.grid-wrapper {
  /*clear: both;*/
  /*margin: auto;*/
  position: absolute;
  left: calc(100vw/2 - 69vh/2);
  width: 69vh;
}

.row {
  text-align: center;
}

.square {
  float: left;
  width: 23vh;
  height: 23vh;
  vertical-align: top;
  padding: 2vh;
  font-size: 15.5vh;
}

.square {
  border: .4vh solid #fff;
}

@media screen and (max-aspect-ratio: 69/100) {
  body {
    /*background-color: blue;*/
  }
  .grid-wrapper {
    /*clear: both;*/
    /*margin: auto;*/
    position: absolute;
    left: 0;
    width: 100vw;
  }
  .square {
    float: left;
    width: calc(100/3/23*23vw);
    height: calc(100/3/23*23vw);
    vertical-align: top;
    padding: calc(100/3/23*2vw);
    font-size: calc(100/3/23*15.5vw);
  }

  .square {
    border: calc(100/3/23*.4vw) solid #fff;
  }
}

.square:hover {
  background-color: #1f2593;
  color: #fff;
}

.row-1 > div {
  border-top: none;
}

.row-3 > div {
  border-bottom: none;
}

.row > .col-3 {
  border-right: none;
}

.row > .col-1 {
  border-left: none;
}





/*button {
  margin: 20px 0;
  padding: 10px 20px;
  background-color: #1f2593;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 1em;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}*/


/*
.scores {
  overflow: hidden;
  display: block;
}

.player-1 {
  float: left;
  text-align: left;
}

.player-2 {
  float: right;
  text-align: right;
}*/

/*.message*/


/*
.message * {
  margin: 10px;
}*/
/*
#message {
  font-size: 1.5em;
}
*/



/*.squareX {
  color: pink;
}

.squareX:hover {
  color: pink;
}

.squareY {
  color: #1f2593;
}

.squareY:hover {
  color: #fff;
}

#quitGame {
  display: none;
}*/
/*
button:focus {
  outline: 0;
}

button:hover {
  background-color: pink;
  color: #fff;
}

.scores h2:hover {
  background-color: pink;
  color: #fff;
}*/

/*.square-move {
  background-color: none;
  color: #999;
}
*/