<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head.ejs %>
    <link rel="stylesheet" href="/css/index.css">
  </head>

  <body>
    <section class="message">
      <p id="message">Pick a room</p>
    </section>
    
    <% include ../partials/grid.ejs %>
    <% include ../partials/footer.ejs %>
    <% include ../partials/scripts.ejs %>
    <script src="/scripts/index.js"></script>
  </body>
</html>
