<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head.ejs %>
    <link rel="stylesheet" href="/css/room.css">
  </head>

  <body>
    <section class="scoreboard">
      <div class="player-1">
        <h2 class="left">X</h2>
        <p class="shape-select">Select</p>
      </div>
      <div class="player-2">
        <h2 class="right">O</h2>
        <p class="shape-select">Select</p>
      </div>
    </section>

    <section class="message" id="exit">
      <p>Return to lobby</p>
    </section>

    <section class="message" id="message">
      <p>< Select a shape ></p>
    </section>

    <% include ../partials/grid.ejs %>
    <% include ../partials/footer.ejs %>
    <% include ../partials/scripts.ejs %>
    <script src="/scripts/room.js"></script>
  </body>
</html>
